In [2]:
data_A.keys()

dict_keys(['key', 'name'])

In [14]:
import pandas as pd
data_A = {'이름': ["김준수","최수빈","최사랑"], '나이': [16, 18, 25]}
dataframe_A = pd.DataFrame(data_A, columns = data_A.keys())
data_B = {'이름': ["김준수","최수빈","조믿음"], '성별': ['남', '여', '남']}
dataframe_B = pd.DataFrame(data_B, columns = data_B.keys())
print(dataframe_A)
print(dataframe_B)

    이름  나이
0  김준수  16
1  최수빈  18
2  최사랑  25
    이름 성별
0  김준수  남
1  최수빈  여
2  조믿음  남

In [15]:
df_INNER_JOIN = pd.merge(dataframe_A, dataframe_B, left_on='이름', right_on='이름', how='inner')
df_INNER_JOIN

    이름  나이 성별
0  김준수  16  남
1  최수빈  18  여

In [9]:
df_OUTER_JOIN = pd.merge(dataframe_A, dataframe_B, left_on='이름', right_on='이름', how='outer')
df_OUTER_JOIN

    이름    나이   성별
0  김준수  16.0    남
1  최수빈  18.0    여
2  최사랑  25.0  NaN
3  조믿음   NaN    남

In [10]:
df_left_JOIN = pd.merge(dataframe_A, dataframe_B, left_on='이름', right_on='이름', how='left')
df_left_JOIN

    이름  나이   성별
0  김준수  16    남
1  최수빈  18    여
2  최사랑  25  NaN

In [11]:
df_right_JOIN = pd.merge(dataframe_A, dataframe_B, left_on='이름', right_on='이름', how='right')
df_right_JOIN

    이름    나이 성별
0  김준수  16.0  남
1  최수빈  18.0  여
2  조믿음   NaN  남