# **미션** 
3월 28일 네이버 금융 증시 현황 홈페이지 : 데이터로 추출하여 표로 만들기

In [1]:
NAVER_FINANCE_URL = "https://finance.naver.com/marketindex/"

import requests
from bs4 import BeautifulSoup
import pandas as pd

response = requests.get(NAVER_FINANCE_URL)
html_code = response.content
soup = BeautifulSoup(html_code, 'html.parser')
d1=soup.select("#exchangeList > li > a> h3")
d2=soup.select("#exchangeList > li > a > div > .value")
d3=soup.select("#exchangeList > li > a > div > .blind")
d4=soup.select("#exchangeList > li > a > div > .change")

country=[]
for data in d1:
  country.append(data.text)

value=[]
for data in d2:
  value.append(data.text)

up_down=[]
for data in d3:
  up_down.append(data.text)

change=[]
for data in d4:
  change.append(data.text)

data={"국가":country,"환율":value,"등락":up_down,"변화":change}

pd.DataFrame(data)

             국가        환율  등락     변화
0        미국 USD  1,301.00  하락   1.00
1  일본 JPY(100엔)    994.84  상승   3.56
2      유럽연합 EUR  1,410.48  상승   7.18
3        중국 CNY    189.21  상승   0.22